# This .gitignore file should be placed at the root of your Unity project directory
#
# Get latest from https://github.com/github/gitignore/blob/master/Unity.gitignore
#
AssetBundles
AssetBundlesMobile
AssetBundlesAndroid
[Tt]emp
[Tt]emp.meta
[Bb]uilds
[Bb]uild
[Oo]bj
[Bb]in
[Pp]roperties

.vs
.vscode

*.DS_Store
main.*.obb
patch.*.obb
Thumbs.db
Thumbs.db.meta

ProjectSettings
[Ll]ibrary
*.pidb
*.unityproj
*.csproj
*.userprefs
*.sln
*.suo
*.rar
*.DotSettings
*.csproj.user

AssetStoreTools
AssetStoreTools.meta

AssetBundles
AssetBundlesMobile
AssetBundlesAndroid
Temp_AssetBundles
[Tt]emp
[Tt]emp.meta
[Oo]bj
[Ll]ibrary
WebPlayer
MacBuild
IOSBuild
PCBuild
.vs
/*.pidb
/*.unityproj
/*.csproj
/*.userprefs
/*.sln
/*.suo
/*.rar
/Library
/Temp
/[Bb]uild
/[Bb]uilds
/ProjectSettings
/*.DotSettings
/*.csproj.user
StreamingAssets
/Assets/StreamingAssets.meta
/Assets/VersionTools/Resources
/Assets/VersionTools/Resources.meta
/Assets/UnityVS
/Assets/UnityVS.meta
*.DS_Store
main.*.obb
patch.*.obb
ProjectSettings/ProjectVersion.txt
Thumbs.db
Thumbs.db.meta
